# dependencies (bun install)
node_modules
packages/*/node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# db
*.sqlite

# dotenv environment variable files
.env
.env.development
.env.test.local
.env.production
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# n8n local data
.n8n/

# Playwright test results
test-results/

.env.production
.env.development
course.sqlite
